.home {
    width: 95%;
    margin: auto;


}
.home_head{
    padding-bottom: 20px;
    padding-top: 30px;
    width: 340px;
    margin: auto;
    border-bottom: 2px solid;
    color: white;
}

.search_box {
    /* border: 1px solid ; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding: 20px;


}

.home__container {
    background-color: #5D5DFF;
    margin-top: 20px;
    border-radius: 5px;
    padding-bottom: 50px;

}

@media only screen and (max-width:400px) {
    .home {
        width: 98%;
    }

    .search_box {
        padding-left: 0px;
        padding-right: 0px;
        justify-content: space-evenly;


    }
}